SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

0 0 */3 * * cd /var/www/robotapro && php artisan news:fetch >> /var/www/robotapro/storage/logs/news_fetch.log 2>&1
0 01 */3 * * cd /var/www/robotapro && php artisan news:optimize >> /var/www/robotapro/storage/logs/news_optimize.log 2>&1
